---
layout: null
eleventyExcludeFromCollections: true
pagination:
  data: languages
  size: 1
  alias: lang
permalink: "lang/{{ lang.code }}/feed.json"
---
{% set items = (('data/indexes/by-language/' + lang.code + '.json') | readJson) or [] %}
{% set outItems = [] %}
{% for item in items %}
  {% if loop.index0 < 50 %}
    {% set itemUrl = ('/p/' + item.id + '/') | url | absoluteUrl(site.url) %}
    {% set authorUrl = undefined %}
    {% if item.source and item.source.id %}
      {% set authorUrl = ('/source/' + item.source.id + '/') | url | absoluteUrl(site.url) %}
    {% endif %}
    {% set itemAuthors = undefined %}
    {% if item.source and item.source.name %}
      {% set itemAuthors = [{ name: item.source.name, url: authorUrl }] %}
    {% endif %}
    {% set tags = [lang.code] %}
    {% if item.category %}
      {% set tags = tags.concat([item.category]) %}
    {% endif %}
    {% if item.tags and item.tags.length %}
      {% set tags = tags.concat(item.tags) %}
    {% endif %}
    {% set contentText = (item.summary or item.title or '') | decodeEntities %}
    {% set outItems = outItems.concat([
      {
        id: item.id,
        url: itemUrl,
        external_url: item.canonicalUrl,
        title: (item.title or '') | decodeEntities,
        summary: (item.summary or '') | decodeEntities,
        content_text: contentText,
        date_published: item.publishedAt,
        authors: itemAuthors,
        tags: tags,
        image: item.image
      }
    ]) %}
  {% endif %}
{% endfor %}

{% set feed = {
  version: "https://jsonfeed.org/version/1.1",
  title: site.name + " - " + lang.label,
  home_page_url: (('/lang/' + lang.code + '/') | url) | absoluteUrl(site.url),
  feed_url: (('/lang/' + lang.code + '/feed.json') | url) | absoluteUrl(site.url),
  description: "Latest items in " + lang.label + ".",
  favicon: ('/assets/favicon.svg' | url) | absoluteUrl(site.url),
  icon: ('/assets/favicon.svg' | url) | absoluteUrl(site.url),
  language: lang.code,
  items: outItems
} %}
{{ feed | jsonLd | safe }}
