---
layout: null
eleventyExcludeFromCollections: true
pagination:
  data: languages
  size: 1
  alias: lang
permalink: "lang/{{ lang.code }}/feed.xml"
---
{% set items = (('data/indexes/by-language/' + lang.code + '.json') | readJson) or [] %}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ (site.name + ' - ' + lang.label) | xmlEscape | safe }}</title>
    <link>{{ ('/lang/' + lang.code + '/') | url | absoluteUrl(site.url) }}</link>
    <description>{{ ('Latest items in ' + lang.label + '.') | xmlEscape | safe }}</description>
    <language>{{ site.language | xmlEscape | safe }}</language>
    <lastBuildDate>{{ buildTime | rfc822 }}</lastBuildDate>
    <atom:link href="{{ ('/lang/' + lang.code + '/feed.xml') | url | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />

    {% for item in items %}
      {% if loop.index0 < 50 %}
        {% set itemLink = ('/p/' + item.id + '/') | url | absoluteUrl(site.url) %}
        <item>
          <title>{{ item.title | decodeEntities | xmlEscape | safe }}</title>
          <link>{{ itemLink | xmlEscape | safe }}</link>
          <guid isPermaLink="false">{{ item.id | xmlEscape | safe }}</guid>
          <pubDate>{{ item.publishedAt | rfc822 }}</pubDate>
          <description>{{ (item.summary or '') | xmlEscape | safe }}</description>
        </item>
      {% endif %}
    {% endfor %}
  </channel>
</rss>
