---
permalink: /opensearch.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>{{ site.brand or site.name }}</ShortName>
  <Description>{{ site.description or site.name }}</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image height="16" width="16" type="image/svg+xml">{{ '/assets/favicon.svg' | url | absoluteUrl(site.url) }}</Image>
  <Url
    type="text/html"
    method="get"
    template="{{ ('/search/?q={searchTerms}' | url) | absoluteUrl(site.url) }}"
  />
</OpenSearchDescription>
