---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
User-agent: *
{% set env = site.environment or "production" %}
{% if env != "production" %}
Disallow: /
{% else %}
Allow: /
{% endif %}
Disallow: {{ '/pagefind/' | url }}
{% if site.url %}
Sitemap: {{ '/sitemap.xml' | url | absoluteUrl(site.url) }}
{% else %}
Sitemap: {{ '/sitemap.xml' | url }}
{% endif %}
